{% extends 'base2.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div class="container">
    <div class="image-section"></div>
    <div class="form-section">
      <h1>Login to PsagotExplorer+!</h1>
      <form method="post" action="{{ url_for('auth.login') }}">
        <div class="input-group">
          <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="input-group">
          <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="login" value="Log In">Login</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}