<!--{% extends 'base.html' %}-->

<!--{% block header %}-->
<!--  <h1>{% block title %}Register{% endblock %}</h1>-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--  <form method="post">-->
<!--    <label for="username">Username</label>-->
<!--    <input name="username" id="username" required>-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" name="password" id="password" required>-->
<!--    <input type="submit" value="Register">-->
<!--  </form>-->
<!--{% endblock %}-->


<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../static/register.css">
</head>
<body>
  <div class="container">
    <div class="image-section"></div>
    <div class="form-section">
      <h1>Sign Up</h1>
      <input type="text" placeholder="Username" >
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Repeat Password">
      <button type="submit" class="sign-up">Sign Up</button>
    </div>
  </div>
  <script>
    var imageSection = document.querySelector('.image-section');
    var images = [
      'path/to/image1.jpg',
      'path/to/image2.jpg',
      'path/to/image3.jpg',
      // Add more image paths as needed
    ];
    var randomIndex = Math.floor(Math.random() * images.length);
    var randomImage = images[randomIndex];
    imageSection.style.backgroundImage = 'url(' + randomImage + ')'
  </script>
</body>
</html>