{% extends 'base2.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
  <div class="container">
    <div class="image-section"></div>
    <div class="form-section">
      <h1>Sign Up</h1>
      <form method="post" action="{{ url_for('auth.register') }}">
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Repeat Password">
        <button type="submit" class="sign-up">Sign Up</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
